@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 100;
    src: url('../assets/fonts/Anuphan/Anuphan-Thin.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 200;
    src: url('../assets/fonts/Anuphan/Anuphan-ExtraLight.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 300;
    src: url('../assets/fonts/Anuphan/Anuphan-Light.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 400;
    src: url('../assets/fonts/Anuphan/Anuphan-Regular.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 500;
    src: url('../assets/fonts/Anuphan/Anuphan-Medium.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 600;
    src: url('../assets/fonts/Anuphan/Anuphan-SemiBold.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Anuphan;
    font-weight: 700;
    src: url('../assets/fonts/Anuphan/Anuphan-Bold.otf') format('opentype');
}
